@charset "utf-8";

.special{
    font-size:150%;
    border: 5px solid mediumslateblue;
    padding:5px;
    border-bottom: 2px dotted yellow;
    background-color: greenyellow;
    
    }
    .part{
        display:block;
        font-size: medium;
       text-align: center;
       align-items: center;
    }