@charset "utf-8";
.title{
    height: 3px;
    width: 5px;
    border: ;
}
table{
        border: 1px solid black;
        font-size: 90%;
        margin-right:auto;
        margin-left:auto;
        margin-bottom: 20px;
        border-collapse: collapse;
        width: 30%;
        position: relative;
        
        
        }
        th{
            background-color: #ccccff;
            border: 1px solid #333333;
            padding: 10px;
           
        }
        td{
            border: 1px solid #333333;
            background-color: darkgray;
            padding: 10px;
            
        }
        p{
            border: 1px solid grey;
            float: right;
        }
        
        footer{
            text-align: center;
            padding-top: 5px;
            background-color: navajowhite;
        }