@charset "utf-8";

    body{
      height: auto;
      width: auto;
    }
    h2{
        text-align: center;
        background-color: bisque;
        border:5px;
    }
    ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       list-style-type: none;
       text-align: center;
        align-items: center;
        justify-items: center;
        row-gap: 5px;
       width: 60%;
       margin-left: auto;
       margin-right: auto;
          }

        ul li{
        height: 100px;
        width: 100px;
        background-color: pink;
        border: 2px solid black;
        border-radius: 20%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-items: center;
        margin: 1;
        padding: 12%;
        
       }
        
  
    
    
    


    
     
   